crash-reports/crash-2026-01-14_21.44.49-client.txt
moonlight-global-datapacks/*
schematics/*
villagerpacks/*
saves/*
xaero/*
XaeroWaypoints/*
usernamecache.json
usercache.json
patchouli_data.json
options.txt
minecraftinstance.json
ESM/*
emi.json
command_history.txt
.curseclient
local/*
logs/*
.mixin.out/*
mods/*
dynamic-resource-pack-cache/*
dynamic-resource-pack-cache/
dynamic-data-pack-cache/
